<section class="specificity container">
  <button style="margin-right: 20px" (click)="selectAll()">Select All</button>
  <button (click)="deSelectAll()">De Select All</button> <br /><br />

  <ng-container *ngFor="let component of components; let i = index">
    <input
      type="checkbox"
      value="component.id"
      [checked]="component.active"
      (change)="onchange($event, component, i)"
    />
  </ng-container>

  <ng-template appComponentHost> </ng-template>
</section>
