.container {
  background-color: yellow;
  padding: 60px;
}

section button {
  background-color: orange;
}

.specificity {
  background-color: red;
  padding: 20px;
}

.container button {
  background-color: antiquewhite;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.specificity button {
  background-color: mediumseagreen;
}

section.container button:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.specificity button:hover {
  background-color: magenta;
  color: white;
  font-weight: bold;
}

section {
  padding: 10px;
}
